# EditorConfig is awesome: https://EditorConfig.org

# The top-most EditorConfig file
root = true

# Trim trailing whitespace + newline ending every file
[*]
insert_final_newline = true
trim_trailing_whitespace = true

# Tab indentation per https://developer.wordpress.org/coding-standards/wordpress-coding-standards/html/#indentation
[*.{php,html,css,js}]
charset = utf-8
indent_style = tab
indent_size = 4

# Indentation for all JSON files
[{composer.json,.stylelintrc.json}]
charset = utf-8
indent_style = space
indent_size = 4

[{package.json,package-lock.json}]
charset = utf-8
indent_style = space
indent_size = 2
