.it-services {
  position: relative;
  .hero-screen {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+98&0+62,1+100 */
    //background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 62%, rgba(255,255,255,0.95) 98%, rgba(255,255,255,1) 100%), url("../img/bg.png") no-repeat; /* FF3.6-15 */
    //background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 62%,rgba(255,255,255,0.95) 98%,rgba(255,255,255,1) 100%), url("../img/bg.png") no-repeat; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 62%,rgba(255,255,255,0.95) 98%,rgba(255,255,255,1) 100%), url("../img/bg.png") no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    background-size: cover;
    margin-bottom: 93px;
    @media screen and (max-width: 1199px) {
      margin-bottom: 85px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
      background-position: center;
    }
    .hero-screen-label {
      margin-top: 109px;
      margin-bottom: 23px;
      @media screen and (max-width: 1199px) {
        margin-bottom: 19px;
      }
      @media screen and (max-width: 767px) {
        margin-top: 50px;
        margin-bottom: 17px;
      }
      img {
        @media screen and (max-width: 1199px) {
          width: 720px;
          position: relative;
          left: 0;
        }
        @media screen and (max-width: 767px) {
          width: 320px;
        }
      }
    }
    .hero-screen-provide {
      padding: 37px 74px;
      margin-right: 46px;
      margin-left: 46px;
      @include font($montserrat,$medium,$text,$text-lh,$black);
      background: rgba(245, 245, 245, 0.5);
      border-radius: 50px;
      @media screen and (max-width: 1199px) {
        padding: 27px 25px;
        font-size: 18px;
        line-height: 30px;
      }
      @media screen and (max-width: 767px) {
        margin-right: 10px;
        margin-left: 10px;
        padding: 16px 9px;
        font-size: 12px;
        line-height: 22px;
        border-radius: 30px;
      }
    }
    .wrapper {
      header {
        display: flex;
        //justify-content: space-between;
        justify-content: flex-start;
        position: relative;
        @media screen and (max-width: 767px) {
          align-items: center;
        }
        .logo {
          .logo-desktop {
            @media screen and (max-width: 767px) {
              display: none;
            }
            img {
              @media screen and (max-width: 1199px) {
                width: 230px;
              }
            }
          }
          .logo-mobile {
            @media (min-width: 768px) {
              display: none;
            }
          }
        }
        .nav {
          margin: auto;
          align-self: center;
          @media screen and (max-width: 1399px) {
            margin: 0 0 0 10px;
          }
          @media screen and (max-width: 1336px) {
            margin: auto;
          }
          &-group-list {
            display: flex;
            background-color: rgba(245, 245, 245, 0.5);
            border-radius: 50px;
            padding: 9px 11px;
            @media screen and (max-width: 1199px) {
              padding: 4px 5px;
            }
            @media screen and (max-width: 767px) {
              padding: 3px 4px;
            }
          }
          &-item {
            @include font($montserrat,$semibold, $nav, $nav-lh, $primary);
            padding: 18px 55px;
            border-radius: 50px;
            text-transform: uppercase;
            @media screen and (max-width: 1199px) {
              font-size: 12px;
              line-height: 14.63px;
              padding: 8px 21px;
            }
            @media screen and (max-width: 767px) {
              padding: 6px 15px;
              font-size: 10px;
              line-height: 12px;
            }
          }
          .active {
            color: $white;
            opacity: 1;
            background-color: $primary;
          }
          &-link {
            text-decoration: none;
            color: unset;
          }
        }
        .lang {
          cursor: pointer;
          position: absolute;
          right: 0;
          &-group-list {
            padding: 16px 15px;
            border-radius: 50px;
            background-color: rgba(245, 245, 245, 0.5);
            @media screen and (max-width: 1199px) {
              padding: 6px;
            }
            @media screen and (max-width: 767px) {
              padding: 5px;
            }
          }
          &-item {
            .lang-link {
              pointer-events: none;
              img {
                display: block;
                @media screen and (max-width: 1199px) {
                  width: 25px;
                }
                @media screen and (max-width: 767px) {
                  width: 21px;
                }
              }
            }
          }
          &-item:last-child {
            display: none;
          }
          &-icon-mobile {
            @media (min-width: 768px) {
              display: none !important;
            }
          }
          &-icon-desktop {
            @media screen and (max-width: 767px) {
              display: none !important;
            }
          }
          .show {
            transition: 0.3s ease-in;
            margin-top: 30px;
            display: list-item !important;
          }
        }
      }
      .hero-screen-content {
        .hero-screen-title {
          @include font($orbitron,$bold,$h1,$h1-lh,$white);
          text-transform: uppercase;
          margin-bottom: 23px;
          @media screen and (max-width: 1199px) {
            font-size: 90px;
            line-height: 112.86px;
            margin-bottom: 19px;
          }
          @media screen and (max-width: 767px) {
            font-size: 43px;
            line-height: 53.92px;
            margin-bottom: 11px;
          }
        }
        .hero-screen-description {
          max-width: 803px;
          @include font($montserrat,$medium,$text,$text-lh,$white);
          margin-bottom: 78px;
          @media screen and (max-width: 1199px) {
            font-size: 18px;
            line-height: 35px;
            max-width: 338px;
          }
          @media screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 20px;
            max-width: 243px;
            margin-bottom: 19px;
          }
        }
      }
    }
  }
  main {
    .position-relative {
      position: relative;
    }
    .wrapper {
      .bg {
        .leaves {
          top: -93px;
          right: 0;
          background: url("../img/leaves.png") no-repeat;
          position: absolute;
          width: 460px;
          height: 437px;
          @media screen and (max-width: 1399px) {
            top: -130px;
          }
          @media screen and (max-width: 767px) {
            width: 100%;
            height: 100%;
            max-width: 300px;
            max-height: 300px;
            background-size: 100% 100%;
            top: 0;
          }
          @media screen and (max-width: 505px) {
            max-width: 200px;
            max-height: 200px;
          }
        }
        .radial-circle {
          position: absolute;
          background: url("../img/radial-circle.png") no-repeat;
          width: 560px;
          height: 550px;
          right: 0;
          @media screen and (max-width: 767px) {
            top: -75px;
            right: -238px;
          }
        }
        //.radial-circle {
        //  position: absolute;
        //  right: 0;
        //  width: 613px;
        //  height: 613px;
        //  background: rgba(235, 92, 40, 0.3);
        //  filter: blur(500px);
        //  @media screen and (max-width: 1199px) {
        //    width: 160px;
        //    height: 160px;
        //    filter: blur(200px);
        //    top: 300px;
        //  }
        //  @media screen and (max-width: 767px) {
        //    top: 0;
        //    width: 122px;
        //    height: 122px;
        //    filter: blur(200px);
        //  }
        //}
      }
      .services-offerings {
        margin-bottom: 102px;
        @media screen and (max-width: 1199px) {
          margin-bottom: 85px;
        }
        @media screen and (max-width: 767px) {
          margin-bottom: 60px;
        }
      }
      .reference-projects {
        margin-bottom: 93px;
        .info-group-list {
          position: relative;
          z-index: 2;
        }
        @media screen and (max-width: 1199px) {
          margin-bottom: 85px;
        }
        @media screen and (max-width: 767px) {
          margin-bottom: 60px;
        }
      }
      .github {
        margin-bottom: 156px;
        @media screen and (max-width: 1199px) {
          margin-bottom: 85px;
        }
        @media screen and (max-width: 767px) {
          margin-bottom: 60px;
        }
      }
      .company-information {
        .info-group-list {
          margin-bottom: 28px;
        }
      }
      .info {
        &-title {
          @include font($orbitron,$bold,$h2,$h2-lh,$black);
          margin-bottom: 61px;
          @media screen and (max-width: 1199px) {
            font-size: 30px;
            line-height: 37.62px;
            margin-bottom: 40px;
          }
          @media screen and (max-width: 767px) {
            font-size: 20px;
            line-height: 25.08px;
            margin-bottom: 25px;
          }
        }
        &-text {
          @include font($montserrat, $medium, $text, $text-lh, $black);
          @media screen and (max-width: 1199px) {
            font-size: 18px;
            line-height: 35px;
          }
          @media screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 30px;
            max-width: 338px;
          }
        }
        &-group-list {
          list-style-type: '-';
          font-size: $text;
          margin-left: 11px;
        }
        &-item::marker {
          font-size: 12px;
        }
        &-item {
          margin-bottom: 30px;
          padding-left: 10px;
          color: #ACACAC;
          @media screen and (max-width: 1199px) {
            margin-bottom: 5px;
          }
          span {
            @include font($montserrat, $medium, $text, $text-lh, $black);
            @media screen and (max-width: 1199px) {
              font-size: 18px;
              line-height: 35px;
            }
            @media screen and (max-width: 767px) {
              display: block;
              font-size: 12px;
              line-height: 30px;
            }
          }
        }
        &-item:last-child {
          margin-bottom: 0;
        }
        &-item-link {
          @include link;
          @media screen and (max-width: 767px) {
            display: block;
          }
        }
        .phone {
          @media screen and (max-width: 767px) {
            display: unset;
          }
        }
        &-item-link:hover {
          text-decoration: none;
        }
      }
    }
  }
  main {
    position: relative;
    overflow-x: hidden !important;
    .footer {
      .logo-bg {
        right: -30px;
        bottom: 0;
        position: absolute;
        width: 974px;
        height: 1174px;
        background: url("../img/logo-bg.png") no-repeat;
        background-size: contain;
        z-index: 1;
        @media screen and (max-width: 1659px) {
          width: 100%;
          max-width: 600px;
          max-height: 600px;
          background-size: 100% 100%;
          bottom: 100px;
        }
        @media screen and (max-width: 1500px) {
          max-width: 400px;
          max-height: 400px;
        }
        @media screen and (max-width: 1199px) {
          max-width: 650px;
          max-height: 650px;
          transform: rotate(342deg);
          right: -130px;
        }
        @media screen and (max-width: 920px) {
          max-width: 450px;
          max-height: 450px;
        }
      }
    }
  }
}